<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="demo" preserve-order="true" parallel="tests" thread-count="2">

    <test name="TestOne">
        <classes>
            <class name="com.sayid.testcase.TestOne"/>
        </classes>
    </test>

    <test name="TestTwo">
        <classes>
            <class name="com.sayid.testcase.TestTwo"/>
        </classes>
    </test>
</suite>
