<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO">
    <Appenders>
        <Routing name="MyRoutingAppender">
            <Routes pattern="$${ctx:threadPID}">
                <Route>
                    <File fileName="logs/${ctx:threadPID}.log" name="appender-${ctx:threadPID}" append="false">
                        <PatternLayout>
                            <Pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t-%X{threadPID}] %class{36} - %msg%n</Pattern>
                        </PatternLayout>
                    </File>
                </Route>
            </Routes>
        </Routing>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t-%X{threadPID}] %class{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="MyRoutingAppender" />
        </Root>
    </Loggers>

</Configuration>